.menuBar {
  background-color: #3aafa9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  height: 60px;
  max-width: 100%;
  padding: 20px 40px;

  .title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: auto;
    text-decoration: none;
    font-size: larger;

    &:visited {
      color: #3aafa9;
    }
  }

  .squareInitials {
    align-self: center;
    background-color: #17252a;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
    text-align: center;
  }

  .name {
    color: #17252a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-right: auto;
  }

  .tab {
    text-decoration: none;
    font-size: large;
  }
}

@media only screen and (max-width: 500px) {
  .menuBar {
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: auto;
  }

  .title {
    margin: auto;
  }

  .name {
    display: none !important;
  }
}
